    /* border: 2px solid red; */
body {
    color:white;
    background-color: black;
    margin: 0;

}  
h1 {
    font-size: 18px;
    text-align: center;
}
  
h2 {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
  
.container {
    background-color: darkgrey;
    margin: 20px;
    height: 18.25rem;
    width: 18rem ;
    box-shadow: 5px 5px 0 orange;
}
.box {
    background-color: dodgerblue;
    min-height: 6rem;
    width: 6rem;
    border: 1px solid orange;
    
}
#flex {
    display: flex;
    align-content: center;
}
.button {
    background-color: dodgerblue;
    color: white;
    box-shadow: 2px 2px 0 orange;
    height: 50px;
    width: 150px;
}

#button-container {
    display: flex;
}
#justify-content-container {
    display: block;
    justify-content: none;
    align-items: none;
    width: 75%;
}
hr {
    width: 85%;
}
a {
    color: white;
}
#top {
    position: fixed;
    background-color: dodgerblue;
    color: white;
    box-shadow: 2px 2px 0 orange;
}
@media screen and (max-width: 450px) {
    .box {
        height: 33px;
        width: 33px;
    }
    .container {
        height: 105px;
        width: 100px;
    }
    .inline-flex {
        height: 33px;
        width: 33px;
    }
}
.middle {
    height: 100px;
    width: 100px;
    border: 5px solid turquoise;
  }