body {
    color:white;
    background-color: black;
    margin: 0;
}  
h1 {
    font-size: 18px;
    text-align: center;
}
  
h2 {
    font-size: 16px;
    text-align: center;
}
  
.container {
    background-color: darkgrey;
    margin: 20px;
    height: 305px;
    width: 300px;
    box-shadow: 5px 5px 0 orange;
}
  
.box {
    background-color: dodgerblue;
    height: 100px;
    width: 100px;
    border: 1px solid orange;
    
}
#flex {
    display: flex;
    align-content: center;
}

.button {
    background-color: dodgerblue;
    color: white;
    box-shadow: 2px 2px 0 orange;
    height: 30px;
    width: 150px;
}
.inline-flex h2 {
    margin: 0 auto;
}